.article-body {
  border-style: solid;
  border-width: 4px;
  padding-left: 10px;
  border-top-style: solid;
  padding-top: 18px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: var(--background-content);
  text-align: justify;
}

.article-title {
  border-style: solid;
  border-bottom-style: solid;
  background-color: black;
  border-width: 4px;
  padding-left: 10px;
  text-align: center;
  padding-top: 10px;
  border-color: black;
}

.article-title > h2 {
  color: var(--primary-color);
}


.article-title-row {
  border-bottom-style: solid;
}

.article-preview {
  border-style: double;
  border-width: 6px;
  padding-left: 10px;
  background-color: var(--background-content);
}

.article-preview-body {
  padding: 10px;
  border-style: solid;
  border-color: #000;
  border-width: 6px;
  padding-left: 10px;
  background-color: var(--background-content);
}

.article-preview:hover {
  border-style: solid;
  border-width: 6px;
  padding-left: 10px;
  cursor: pointer;
}

.article-preview:hover > h2
 {
  border-width: 6px;
  cursor: pointer;
  text-decoration: underline;
}